[submodule "themes/strange-case"]
	path = themes/strange-case
	url = https://github.com/ExchangeRate-API/strange-case.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "themes/strangecase"]
	path = themes/strangecase
	url = https://github.com/ExchangeRate-API/strange-case
